.post-page {
  position: relative;
}

.post-page__img {
  display: flex;
  width: 100%;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.post-page__img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post-page__content {
  margin-top: var(--spacing-medium);
}

.post-page__content-body {
  text-align: left;
}

.post-page__content-body ul {
  list-style: disc;
  margin: 0 0 30px 30px;
}

.post-page__content-body img,
.post-page__content-body figure,
.post-page__content-body video {
	display: inline-block;
	width: 100%;
	height: auto;
	margin: 20px 0;
}

.post-page__content-body figure iframe {
	width: 100%;
	min-height: 400px;
	height: auto;
}
