.comp-data-list {
  position: relative;
  max-width: 370px;
  margin: var(--spacing-small) auto;
}

.comp-data-list__item {
  width: 100%;
  border-radius: 20px;
  padding: var(--spacing-small);
}

.comp-data-list__item:nth-child(odd) {
  background-color: var(--color-grey-ultra-light);
}

.comp-data-list__item span {
  margin: 0 var(--spacing-small);
}
